body {
	background-color: transparent;
}

.top-buttons {
	float: right;
	cursor: default;
}

.top-button {
    padding: 3px;
    border-radius: 5px;
}

.search-button {
    padding: 1px 2px 1px 1px;
    border-radius: 5px;
}

.tooltip {
	position: relative;
	cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: var(--vscode-editorHoverWidget-background);
  color: var(--vscode-editorHoverWidget-foreground);
  text-align: center;
  vertical-align: baseline;
  padding: 4px 4px;
  border: 1px solid var(--vscode-editorHoverWidget-border);
  font-family: var(--vscode-editor-font-family);
  font-size: 10px;
  box-shadow: 0px 0px 3px var(--vscode-editorOverviewRuler-border);

  /* Position the tooltip */
  position: absolute;
  right: 8px;
  top: 30px;
  z-index: 1;
}

.top-button:hover {
	background-color: var(--vscode-list-hoverBackground);
}

.search-button:hover:not(.search-button-active) {
	background-color: var(--vscode-settings-dropdownListBorder);
}

.search-button-active {
	background-color: var(--vscode-inputOption-activeBackground);
	color: var(--vscode-inputOption-activeForeground);
	border: var(--vscode-inputOption-activeBorder);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0s linear 1s;
}

.input-parent {
	width: 100%;
	height: max-content;
	position: relative;
}

.input-box {
	background-color: var(--vscode-input-background);
	color: var(--vscode-input-foreground);
	border: 1px solid var(--vscode-input-border);
	border-radius: 2px;
	height: 24px;
	overflow: hidden;
	position: relative;
	cursor: default;
}

.input-area {
	width: calc(100% - 75px);
	height: 24px;
	border: 0px;
	resize: none;
	display: block;
	background-color: inherit;
	color: var(--vscode-input-foreground);
	font-size: 13px;
	font-family: var(--vscode-font-family);
	padding: 0px 5px;
	white-space: nowrap;
	overflow: hidden;
}

input[type=text]:focus, .input-area {
	outline: none;
}

.input-controls {
	position: absolute;
	top: 4px;
	right: 3px;
}

.search-summary {
	color: var(--vscode-search-resultsInfoForeground);
	font-size: 13px;
	padding: 6px 2px;
}

.file-parent {
	display: flex;
	margin: 2px 0px;
	cursor: pointer;
}

.file-parent:hover {
	background-color: var(--vscode-list-hoverBackground);
}

.file-toggle-icon {
	padding: 2px 2px;
}

.file-name {
	color: var(--vscode-foreground);
	font-size: 13px;
	padding: 2px 2px;
}

.file-path {
	color: var(--vscode-foreground);
	opacity: .7;
	font-size: .9em;
	min-width: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 3px 3px;
}

.file-result-parent {
	margin-left: auto;
}

.file-result-count {
	background-color: var(--vscode-badge-background);
	color: var(--vscode-badge-foreground);
	padding: 4px 6px;
    border-radius: 11px;
    font-size: 11px;
    min-width: 18px;
    min-height: 18px;
    line-height: 11px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.line-result {
	display: flex;
	line-height: 21px;
	cursor: pointer;
	margin-left: 30px;
}

.line-result:hover {
	background-color: var(--vscode-list-hoverBackground);
}

.line-result-content {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
}

/*
.line-result-normal {
}
*/

.line-result-match {
	background-color: var(--vscode-editor-findMatchHighlightBackground);
}
